.button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #0b5cff;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
  }
  
  .button:hover {
    color: #0b5cff;
    background-color: white;
    border: 3.8px solid #0b5cff;
  }
  